{% extends "blog/base.html" %}
{% block content %}

	<h1>Blog About</h1>
		<div class="row">
			<div class="col-sm-4">
				
			</div>
			<div class="col-sm-4">
				
			</div>
			<div class="col-sm-4">
				
			</div>
		</div>
	
{% endblock content %}
