<!DOCTYPE html>
<html>
<head>{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href={% static 'assets/css/bootstrap.min.css' %} rel="stylesheet">
    <link rel="stylesheet" type="text/css" href={% static 'assets/css/font-awesome.min.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'assets/css/mainstyle.css' %}>

	{% if title %}
	<title>Django Blog - {{ title }}</title>
	{% else %}
	<title>Django Blog</title>
	{% endif %}
</head>
<body>
	 <nav class="navbar navbar-default navbar-fixed-top" style="background-color: rgb(192,192,192);">
        <div class="container">
                    <div class="navbar-header">
                    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			          	</button>
			          <a class="navbar-brand" href="{% url 'blog-home' %}" target="_top">Post<span>Test</span></a>
        			</div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'blog-home' %}">Home</a></li>
            <li><a href="{% url 'blog-about' %} ">About</a></li>
          </ul>
            <div class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                    <li><a href="/profile">View Profile</a></li>
                    <li><a href="{% url 'post-create' %}">Upload New Post</a></li>
                    <li><a href="{% url 'logout' %}" title="Click to logout">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Log In</a></li>
                        <li><a href="{% url 'register' %} ">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
             </div>
        </div>
	</nav>

	<div class="container">
        <div class="row">
            <div class="col-sm-9">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ messages.tags }}">
                   {{ message }} 
                </div>
            {% endfor %}
        {% endif %}
		{% block content %}{% endblock %}
            </div>
            <div class="col-sm-3">
                <div class="panel panel-info">
                    <div class="panel-heading" style="background-color: rgb(192,192,192);"><h4>You are Welcome {{ user.username }}</h4></div>
                     <div class="panel-body">
                        <ul class="social-links" type="none">
                        {% if user.is_authenticated %}
                            <li>
                                <a href="">Lastest Post</a><hr class="bottom-line">
                                <a href="">Anouncement</a><hr class="bottom-line">
                            </li>
                            <li>
                                <a class="mr-2" href="{% url 'logout' %}">
                                <span class="glyphicon glyphicon-log-out"></span></i> Logout
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a class="mr-2" href="{% url 'login' %}">
                                <span class="glyphicon glyphicon-log-in"></span></i> Login
                                </a>
                            </li><hr class="bottom-line">
                            <li>
                                <a class="mr-2" href="{% url 'register' %}">
                                <span class="glyphicon glyphicon-log-in"></span></i> Register
                                </a>
                            </li><hr class="bottom-line">
                        {% endif %}
                        </ul> 
                    </div>
                </div>
            </div>
        </div>
	</div>


          <!-- Footer Section -->
    <div class="footer" id="contact" style="background-color: rgb(192,192,192);">
      <div class="container" >
        <div class="col-md-6 contact">
            <h1>Contact Us</h1>
                <p> Support if you have any questions. We'll help you out. </p>
                <a href="mailto:muhozagustave1213@gmail.com">mail developers</a>
        </div>
        <div class="col-md-3 contact footer-menu">
          <h1>Social Media</h1>
      <ul class="social-links" type="none">
        <li><a href="#link"></i>Twitter</a></li>
        <li><a href="#link"></i>Facebook</a></li>
        <li><a href="#link">Google+</i></a></li>
        <li><a href="#link"></i>LinkedIn</a></li>
      </ul>
        </div>
        <div class="col-md-3 contact">
            <h1>Registration</h1>
              <ul class="social-links" type="none">
                {% if user.is_authenticated %}
                    <p>You are logged in</p>
                    <li><a class="mr-2" href="{% url 'logout' %}">
                        <span class="glyphicon glyphicon-log-out"></span></i> Logout</a></li>
                {% else %}
                    <p>You are logged Out, <br>Kindly Login or Register</p>
                    <li>
                        <a class="mr-2" href="{% url 'login' %}">
                        <span class="glyphicon glyphicon-log-in"></span></i> Login</a>
                    </li>
                    <li><a class="mr-2" href="{% url 'register' %}">
                        <span class="glyphicon glyphicon-log-in"></span></i> Register</a>
                    </li>
                {% endif %}
              </ul>
         </div>
      </div>
      <hr class="bottom-line">
      <div class="container text-center">
      ©2019 By Gustavo UR-CBE. All rights reserved
    </div>
    </div>

    <script src={% static 'assets/jquery.min.js' %}></script>
    <script src={% static 'assets/js/bootstrap.min.js' %}></script> 
    <script src={% static 'assets/parsley.min.js' %}></script>
</body>
</html>