
{% extends "blog/base.html" %}
{% block content %}

	{% for post in posts %}

		<article class="media content-section">
					<div class="media-body">
					<div class="article-metadata">
						<img class="img-circle" width="70" height="70" src="{{ post.author.profile.image.url }}">
					</div>
					<a href="#" class="mr-2">{{ post.author }}</a>
					<small class="text-muted">{{ post.date_posted }}</small>
					<h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
					<p class="article-content">{{ post.content }}</p>
					</div>
		</article>
	{% endfor %}

{% endblock content %}
