{% extends "blog/base.html" %}
{% block content %}


		<div class="content-section">
			<form method="POST">{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Delete Post</legend>
				</fieldset>
				<h2>Are you sure You want to delete this post?"{{ object.title }}"</h2>
				<div class="form-group">
					<button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
					<a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
				</div>
			</form>
		</div>
	
{% endblock content %}