{% extends "blog/base.html" %}
{% block content %}


	<article class="media content-section">
		<div class="media-body">
			<img class="img-circle" width="70" height="70" src="{{ object.author.profile.image.url }}">
		<div class="article-metadata">
			<a href="#" class="mr-2">{{ object.author }}</a>
			<small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
			</div>
			<h2 class="article-title">{{ object.title }}</h2>
			<p class="article-content">{{ object.content }}</p>
			{% if object.author == user %}
			<div>
				<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
				<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
			</div>
		
			{% endif %}
		</div>
	</article>

{% endblock content %}