{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


		<div class="content-section">
			<form method="POST">{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Join us to Day</legend>
				</fieldset>
				{{ form|crispy }}
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">sign up</button>
				</div>
			</form>
			<div class="border-top pt-3">
				<small class="text-muted">Alread Have An Account?<a class="ml-2" href="{% url 'login' %}">Sign In</a></small>
			</div>
		</div>
	
{% endblock content %}